body {
    margin: 0 auto; /* 0 margin for top & bottom, auto for right and left */
    max-width: 800px;
}

footer p {
    color: rgb(160, 160, 160); 
    padding: 5em;
    position: absolute;
    bottom: 10px;
    left: 40%;
}

.darkmode {
    background-color: rgb(36, 36, 36);
    color:aliceblue
}

.hide {
    display: none;
}

.show {
    display: block;
}

.current {
    background-color: rgb(129, 40, 40);
}