body{
    background-image: url('cert.png');
    background-size: cover;
    background-repeat: no-repeat;
    
    width: 100%;
    height: 100%;
}

h1.awardee{
    margin: 0;
    position: absolute;
   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.petit-formal-script-regular {
    font-family: "Petit Formal Script", cursive;
    font-weight: 400;
    font-style: normal;
  }